body {
    background: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    cursor: url('data:image/x-icon;base64,AAACAAEAICAAAAAAAACoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANcmd8DXJnfA1yZ3wNcmd8DXJnfA1yZ3wNcmd8DXJnfA1yZ3wNcmd8DXJnfAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADXJnfLK/e/zaTtf8DXJn/A1yZ/wNcmf8jfKj/I3yo/wNcmf8DXJn/A1yZ/1KnzP8DXJnfAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA1yZ3wNcmd8sr97/NpO1/zaTtf8DXJn/A1yZ/5Lc9/+S3Pf/A1yZ/wNcmf8wZpH/I3yo/xWDs/8DXJnfAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADXJnfA1yZ3wCOwv8sr97/NpO1/x96nP+S3Pf/A1yZ/wNcmf8DXJn/H3qc/xWDs/9Sp8z/I3yo/wNcmd8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANcmd8DXJnfLK/e/yyv3v8sr97/NpO1/wNcmf+S3Pf/ktz3/wNcmf8fepz/I3yo/zBmkf8DXJnfA1yZ3wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACCRuv8DXJnfLK/e/wCOwv8fepz/A1yZ/wNcmf8DXJn/ktz3/x96nP8AjsL/MGaR/yCRuv8gkbr/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIJG6/yCRuv8sr97/LK/e/x96nP8DXJn/A1yZ/wNcmf+S3Pf/H3qc/xWDs/9Sp8z/IJG6/yCRuv8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgkbr/A1yZ/yyv3v8sr97/H3qc/wNcmf+S3Pf/ktz3/wNcmf8fepz/MGaR/xWDs/8wZpH/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADXJn/LK/e/yyv3v8DXJn/ktz3/wNcmf8DXJn/ktz3/wNcmf8wZpH/MGaR/yCRuv8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANcmf8sr97/A1yZ/wNcmf8DXJn/AI7C/wCOwv8DXJn/A1yZ/wNcmf9Sp8z/A1yZ/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA1yZ/wNcmf8DXJn/A1yZ/wNcmf8AjsL/AI7C/wNcmf8DXJn/A1yZ/wNcmf8DXJn/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABoGAwYgkbr/AI7C/wNcmf8DXJn/A1yZ/wCOwv8AjsL/A1yZ/wNcmf8DXJn/AI7C/yCRuv8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIJG6/yyv3v8sr97/LK/e/wNcmf8DXJn/AI7C/wCOwv8DXJn/A1yZ/zBmkf8jfKj/IJG6/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgkbr/LK/e/yyv3v8sr97/LK/e/whWeP8IVnj/NpO1/zaTtf8jfKj/MGaR/yN8qP8Vg7P/IJG6/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADE16/yyv3v8sr97/LK/e/whWeP8IVnj/IcbP/yHGz/8IVnj/NpO1/wCOwv8AjsL/FYOz/1KnzP8gkbr/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABoGAwYMTXr/CFZ4/whWeP8sr97/CFZ4/wDy//8A8v//IcbP/yHGz/8IVnj/I3yo/yN8qP8AjsL/MGaR/zBmkf8gkbr/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADE16/whWeP8A/yP/Epkk/whWeP8IVnj/APL//wDy//8A8v//IcbP/whWeP8AjsL/AI7C/wCOwv8wZpH/MGaR/yCRuv8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMTXr/CFZ4/wD/I/8A/yP/CFZ4/yyv3v8IVnj/APL//wDy//8IVnj/NpO1/zaTtf8jfKj/FYOz/whWeP8IVnj/MGaR/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADE16/yN8qP8jfKj/CFZ4/whWeP8sr97/LK/e/yyv3v8IVnj/CFZ4/zaTtf82k7X/CFZ4/whWeP8IVnj/ALL//wui4/8wZpH/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxNev8QbbD/NpO1/yN8qP8MTXr/CFZ4/whWeP8IVnj/CFZ4/whWeP8IVnj/CFZ4/whWeP8AAP//BQWr/wxNev8Asv//ALL//zBmkf8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADE16/xBtsP82k7X/I3yo/wxNev//AKn/fQZV/30GVf8IVnj//5AA/5FXDP+RVwz/DE16/wAA//8AAP//DE16/yN8qP8AjsL/IJG6/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgkbr/EG2w/xBtsP8gkbr/DE16//8Aqf//AKn/fQZV/wxNev//kAD//5AA/5FXDP8MTXr/CFZ4/whWeP8IVnj/AI7C/zBmkf8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACCRuv8gkbr/IJG6/wAAAAAMTXr//wCp//8Aqf//AKn/DE16//+QAP//kAD/kVcM/wxNev8jfKj/AI7C/wxNev8gkbr/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxNev8IVnj/CFZ4/whWeP8MTXr/CFZ4/whWeP8IVnj/DE16/xBtsP8wZpH/IJG6/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADE16/zaTtf8AjsL/I3yo/wxNev82k7X/AI7C/zBmkf8jfKj/EG2w/yCRuv8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMTXr/I3yo/wCOwv8jfKj/DE16/xBtsP8jfKj/MGaR/yCRuv8gkbr/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxNev8jfKj/NpO1/wCOwv8MTXr/EG2w/xBtsP8gkbr/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADE16/yN8qP82k7X/MGaR/yCRuv8gkbr/IJG6/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMTXr/EG2w/zaTtf8wZpH/IJG6/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAxNev8QbbD/NpO1/zBmkf8gkbr/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIJG6/xBtsP8QbbD/EG2w/yCRuv8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIJG6/yCRuv8gkbr/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+AD///AAf//gAD//4AA//+AAP//wAD//8AA///AAf//4AH//+AB///gAf//4AH//8AB///AAP//gAD//4AAf/8AAH//AAB//gAAf/wAAH/8AAB//AAA//xAAf//wAP//8AH///AD///wD///8B////B////wf///8H////j///8='), auto;
}

header {
  text-align: center;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  z-index: -1;
  transition-duration: 1s;
}

#thanos {
  margin-top: 10px;
  z-index: 100;
}

#thanos.hover:hover {
  transform: scale(1.5);
}

#snap {
  height: 80%;
  width: auto;
  transition-duration: 4s;
  position: absolute;
  margin: 0 auto;
}

.character {
  width: 130px;
  height: 175px;
  transition-duration: 1.5s;
}

#the-truth {
  transition-duration: 2s;
}

.credit {
  position: fixed;
  bottom: 0px;
  background: black;
  margin-bottom: 5px;
}